{% extends 'main/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'health_diary/new.css' %}" type="text/css"/>
{% endblock head %}

{% block main %}
        <div class="main">
            <div class="black"></div>
            <div class="main_wrap">
                <h3><img src="../../static/health_diary/img/main_text.png" alt=""/></h3>
            </div>
        </div>
        <div class="write_wrap clearfix">
            <div class="heart">
                <img src="../../static/health_diary/img/heart_img.jpg" alt=""/>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <h2 class="heading">투병일기 : 글쓰기</h2>
                    <div class="controls">
                        {{ form.title }}
                    </div>
                    <div class="grid">
                        <div class="controls">
                            {{ form.content }}
                        </div>
                        <button type="submit" value="Submit" class="col-1-4">제출하기</button>
                    </div>  
                </div>
            </form>
        </div>
{% endblock main %}
