<h1>{{ board.title }}</h1>
<p>{{ board.pub_date }}</p>
<p>{{ board.content }}</p>
<br><br>
<button><a href="{% url 'edit' pk=board.pk %}">수정</a></button>
<button><a href="{% url 'remove' pk=board.pk %}">삭제</a></button>
<button><a href="{% url 'notice' %}">목록으로</a></button>

<!-- 댓글작성 -->
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <input class='btn' type='submit' value="댓글쓰기">
</form>

<!-- 댓글목록 -->
{% for comment in board.comments.all %}
    {{ comment.content }}
    <button><a href="{% url 'remove_comment' comment.pk %}">삭제</a></button>
{% endfor %}