{% extends 'main/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'notice/new.css' %}" type="text/css" />
{% endblock head %}

{% block main %}
<div class="main">
    <div class="black"></div>
    <div class="main_wrap">
        <h3><img src="../../static/notice/img/main_text.png" alt="" /></h3>
    </div>
</div>
<div class="notice">
    <h3>글쓰기</h3>
    <select name="notice">
        <option value="">게시판 선택</option>
        <option value="pro">전문가 칼럼</option>
        <option value="nopro">일반인 게시판</option>
    </select>
    <form method='POST'>
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>

        <button type="submit">저장</button>
    </form>
</div>
{% endblock main %}