@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: #4b4b4b;
  font-weight: 600; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit;
  font: inherit; }

button {
  color: inherit;
  font: inherit; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.find, ul, .time {
  float: left; }

  .wrap {
    width: 100%; }
    .wrap header {
      width: 1200px;
      margin: 0 auto; }
      .wrap header .logo {
        width: 197px;
        margin: 0 auto; }
        .wrap header .logo img {
          width: 100%;
          margin-top: 50px; }
      .wrap header nav {
        width: 662px;
        margin: 0 auto;
        margin-top: 40px; }
        .wrap header nav .find {
          width: 50px;
          height: 50px;
          background-color: #2cacdb;
          cursor: pointer; }
          .wrap header nav .find img {
            margin-top: 10px;
            margin-left: 10px; }
        .wrap header nav ul {
          width: 510px;
          height: 48px;
          background-color: #fff;
          border: 1px solid #f9f9f9; }
          .wrap header nav ul li {
            width: 100px;
            margin-left: 20px;
            margin-top: 15px;
            float: left; }
            .wrap header nav ul li:nth-child(1) {
              width: 110px;
              margin-left: 40px; }
            .wrap header nav ul li:nth-child(2) {
              width: 110px; }
            .wrap header nav ul li:nth-child(3) {
              width: 80px; }
            .wrap header nav ul li:nth-child(4) {
              width: 100px; }
        .wrap header nav .time {
          width: 100px;
          height: 50px;
          background-color: #2cacdb; }
          .wrap header nav .time h2 {
            margin-left: 22px;
            margin-top: 16px;
            color: #fff; }
  .wrap .main {
    width: 100%;
    height: 330px;
    background-image: url("../../static/mypage/img/main_img.png");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -18px; }
    .wrap .main .black {
      width: 1406px;
      height: 330px;
      margin: 0 auto;
      background-color: rgba(0, 0, 0, 0.2); }
    .wrap .main .main_wrap {
      width: 1200px;
      margin: 0 auto;
      margin-top: -330px; }
      .wrap .main .main_wrap h3 {
        margin-top: 118px;
        margin-left: 420px; }
        *,:active{
          outline: none;
        }
        *{
          padding: 0px;
          margin: 0px;
        }
        
        body{
          margin: 20px;
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          font-size: 96.5%;
          font-family: Helvetica, Arial, sans-serif;
        }
        
        input{
          font-family: Helvetica, Arial, sans-serif;
        }
        
        h1, h2, h3, h4, h5, p{
          margin-bottom: 10px;
        }
        
        p{
          line-height: 20px;
        }
        
        .animate{
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
        
        
        /* required */
        .calendar{
          position: absolute;
          border-radius: 4px;
          overflow: hidden;
          width: 800px;
          height: 450px;
          left: 50%;
          margin-left: -400px;
          margin-top: 120px;
          top: 50%;
          background-color: #ffffff;
          color: #333333;
        }

        .calendar .calendar_title{
          width:173px;
          margin:0 auto;
          margin-bottom:60px;
        }
        
        .calendar h1, .calendar h2{
          font-weight: 300;
          font-size: 26px;
          line-height: 28px;
          text-transform: uppercase;
          margin: 0px 0px 20px 0px;
        }
        
        .calendar h1 span{
          display: block;
        }
        
        .calendar .col{
          position: relative;
          float: left;
          height: 100%;
        }
        
        .calendar .col .content{
          padding: 40px;
        }
        
        .calendar ul{
          margin: 0px;
        }
        
        .calendar ul li{
          list-style: none;
        }
        
        .calendar .leftCol{
          width: 40%;
          background-color: #F48989;
        }
        
        .calendar .noteList li{
          color: #ffffff;
          margin-bottom: 10px;
        }
        
        .calendar .notes p,
        .calendar .notes input,
        .calendar .noteList li{
          font-weight: 300;
          font-size: 14px;
        }
        
        .calendar .notes p{
          border-bottom: solid 1px rgba(255,255,255,0.4);
        }
        
        .calendar .notes input{
          background-color: #F48989;
          color: #ffffff;
          border: none;
          width: 200px;
        }

        .calendar .notes button{
          border:none;
          background-color: #F48989;
        }
        
        .calendar .addNote,
        .calendar .removeNote{
          float: right;
          color: rgba(255,255,255,0.4);
          font-weight: bold;
          margin-left: 20px;
        }
        
        .calendar .addNote:hover,
        .calendar .removeNote:hover{
          color: #ffffff;
        }
        
        .calendar .addNote{
          font-size: 16px;
        }
        
        .calendar .leftCol h1{
          color: #ffffff;
          margin-bottom: 40px;
        }
        
        .calendar .rightCol{
          width: 60%;
        }
        
        .calendar .rightCol h2{
          color: #C7BEBE;
          text-align: right;
          margin-bottom: 70px;
        }
        
        .calendar .months li,
        .calendar .weekday li,
        .calendar .days li{
          float: left;
          text-transform: uppercase;
        }
        
        .calendar .months li a,
        .calendar .weekday li a,
        .calendar .days li a{
          display: block;
          color: #747978;
        }
        
        .calendar .months li a{
          font-size: 10px;
          color: #C7BEBE;
          text-align: center;
          width: 32px;
          margin-bottom: 20px;
        }
        
        .calendar .months li .selected{
          font-weight: bold;
          color: #747978;
        }
        
        .calendar .weekday li a{
          width: 55px;
          text-align: center;
          margin-bottom: 20px;
          font-size: 12px;
        }
        
        .calendar .days li{
          width: 55px;
        }
        
        .calendar .days li a{
          width: 36px;
          height: 24px;
          text-align: center;
          margin: auto auto;
          font-size: 12px;
          font-weight: bold;
          border-radius: 12px;
          margin-bottom: 10px;
          padding-top: 10px;
        }
        
        
        .calendar .days li a:hover{
          background-color: #EEEDE9;
        }
        
        .calendar .days li .selected{
          background-color: #F5A1A3!important;
          color: #ffffff;
        }
        
        .calendar .days li .event{
          color: #F5A1A3;
        }
        
        
        /* placeholder color */
        ::-webkit-input-placeholder {color: #ffffff; }
        :-moz-placeholder {color: #ffffff; }
        ::-moz-placeholder {color: #ffffff; }
        :-ms-input-placeholder {color: #ffffff; }
  .wrap footer {
    width: 1200px;
    margin: 0 auto;
    margin-top: 640px;
    margin-bottom: 40px; }
    .wrap footer img:nth-child(1) {
      margin-left: 66px; }
    .wrap footer img:nth-child(2) {
      margin-top: -18px;
      margin-left: 60px; }
